NEXT_PUBLIC_COREADMIN_API_BASE=https://api.tuskus.com/api/v1
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=core-admin-tuskus
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=core-admin-tuskus.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
